.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.toolbar {
    grid-row: 1;
    margin: 1em;
}

.mas-canvas {
    grid-row: 2;
    border: 1px black solid;
}

.message-box {
    grid-row: 2;
    width: 500px;
    height: 550px;
    border: 1px black solid;
    overflow: scroll;
}