.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.toolbar {
    margin: 1em;
}

.mas-canvas {
    border: 1px black solid;
}

.message-box {
    width: 500px;
    height: 489px;
    border: 1px black solid;
    overflow: scroll;
}