.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.toolbar {
    margin: 1em;
}

.mas-canvas {
    border: 1px #ebebeb solid;
    background-color: #1d1d1d;
}

.message-box {
    width: 500px;
    height: 489px;
    border: 1px #ebebeb solid;
    overflow: scroll;
}