<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="lib/jquery-3.4.1.min.js"></script>
    <script src="lib/easeljs.min.js"></script>
    <script src="lib/axios.min.js"></script>
</head>
<body onload="setup();">

<div class="container">
    <div class="toolbar">
        <button onclick="init();">INIT</button>
        <button onclick="start();">START</button>
        <!--<button onclick="kill();">KILL</button>-->
        <button onclick="clearMessageBox();">CLEAR</button>
    </div>
    <canvas id="mas-canvas" class="mas-canvas" width="850" height="550"></canvas>
    <div id="messages" class="message-box"></div>
</div>
<script type="application/javascript" src="app.js"></script>
</body>
</html>
